/* General App Styles */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1E1E1E;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.5em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #1E1E1E;
  overflow: auto;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #FFF;
}

/* Dataset List Styles */
.dataset-list {
  width: 100%;
  padding: 20px;
}

.dataset-list h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #FFF;
}

.dataset-list table {
  width: 100%;
  border-collapse: collapse;
}

.dataset-list th, .dataset-list td {
  padding: 10px;
  border: 1px solid #444;
  text-align: left;
}

.dataset-list th {
  background-color: #333;
  color: white;
}

.dataset-list td {
  background-color: #2D2D2D;
  color: white;
}

.dataset-list .actions button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #BB86FC;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dataset-list .actions button:last-child {
  margin-right: 0;
}

.launch-button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #BB86FC;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
