.dataset-list {
    width: 100%;
    padding: 20px;
}

.dataset-list h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #FFF;
}

.dataset-list table {
    width: 100%;
    border-collapse: collapse;
}

.dataset-list th, .dataset-list td {
    padding: 10px;
    border: 1px solid #444;
    text-align: left;
}

.dataset-list th {
    background-color: #333;
    color: white;
}

.dataset-list td {
    background-color: #2D2D2D;
    color: white;
}

.dataset-list .actions button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #BB86FC;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dataset-list .actions button:last-child {
    margin-right: 0;
}
